.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
  height: 100vh;
}
.content {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  overflow: hidden;
  padding: 32px;
  font-size: 24px;
}

.formWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
  margin: 8px;
}
.formTextInput {
  padding: 8px 4px;
  width: 96px;
  border-radius: 8px;
  border-color: #eee;
  font-size: 20px;
  transition: 0.3s;
  outline: none;
  background-color: #dee5f9;
}

.formTextInput:focus {
  border-color: blue;
}

.submitButton {
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 8px;
  font-size: 20px;
  background-color: #08d;
  cursor: pointer;
  border-radius: 8px;
  border: 0;
  color: white;
}

.submitButton:active {
  background-color: #06b;
}
